/* @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'; */

body {
  margin: 0 auto;
  max-width: 40em;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}
h1, h2, h3, strong {
  color: #333;
  color: #e81c4f;
  font-family: "Georgia", serif;
  font-style: italic;
  margin-top: 1em;
  padding-top: 1em;
}

h1 {
  font-size:3.5em;
  color: #888;
}
h2 {
  font-size: 1.875em;
}
p {
  font-size: 1.125em;
}

a {
  color: #e81c4f;
}

section {
  margin-bottom: 6em;
}
footer {
  padding-top: 6em;
  font-size: 0.875em;

  color: #777;
}

.subtitle {
  font-size: 1.50em;
}

/* code stuff */
/* code, */
/* pre { */
/*   background: #eee; */
/* } */

/* code { */
/*   padding: 2px 4px; */
/*   vertical-align: text-bottom; */
/* } */

/* pre { */
/*   padding: 1em; */
/* } */

